# Ignore all files except those with the specified extensions



!*.html
!*.css
!*.js
!*.php
!*.jpg
!*.png
!*.gif



# Unignore specific files
!.gitignore
!assets/jquery.min.js

# Unignore specific directories

!images/
!assets/
!css/
!js/